<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layout-admin.html}">

<section class="row" layout:fragment="content">
	<div class="col-6 offset-3 mt-4">
		<form th:action="@{/admin/categories/saveOrUpdate}" method="post" th:object="${category}">
			<div class="card">
				<div class="card-header">
					<h2 th:text="${category.isEdit ? 'Edit Category' : 'Add New Category'}">Add New Category</h2>
				</div>
				<div class="card-body">

					<input type="hidden" th:field="*{isEdit}" />

					<div class="mb-3" th:if="${category.isEdit}">
						<label for="id" class="form-label">Category ID:</label>
						<input type="text" th:field="*{id}" readonly class="form-control" placeholder="Category ID" />
						<div th:if="${#fields.hasErrors('id')}" class="form-text text-muted">
							<span class="text-danger">ID is invalid!</span>
						</div>
					</div>

					<div class="mb-3">
						<label for="name" class="form-label">Category Name:</label>
						<input type="text" th:field="*{name}" class="form-control" placeholder="Enter category name" />
						<div th:if="${#fields.hasErrors('name')}" class="form-text text-muted">
							<span class="text-danger">Category name is required!</span>
						</div>
					</div>

					<button type="submit" class="btn btn-success">Save</button>
					<a th:href="@{/admin/categories/searchpaginated}" class="btn btn-secondary">Back to list</a>
				
				</div>
			</div>
		</form>
	</div>
</section>

</html>